<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test-ruapu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B05518AD127D7C1C1FCEEA79B5400CAA50E9F84B</string>
				<key>dateExpires</key>
				<string>2025/7/16</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QLS4R96AQ4.com.wuyehao.test-ruapu</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QLS4R96AQ4</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>test-ruapu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d257d2a8-8e94-452d-8556-65c5b7217d43</string>
				<key>dateExpires</key>
				<string>2025/7/17</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QLS4R96AQ4</string>
				<key>name</key>
				<string>Shanghai Skyland Information Technology Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
